@import "../styles/Variables.scss";

.dashboardheader {
  padding: 20px 100px;
}

.dashboardheader__coueses {
  padding: 20px 0;

  h1 {
    font-size: $xl;
    color: $darkGray;
  }

  p {
    font-size: $sm;
    color: $gray;
  }
}

.dashboardheader__progress {
  display: flex;
  margin: 20px 0;
}

.dashboardheader__progress-detail {
  @include center();
  background-color: $primaryPink;
  width: 60%;
  padding: 20px 0;

  p,
  h1 {
    color: white;
  }

  p {
    font-size: $sm;
  }

  h1 {
    font-size: $xxl;
  }
}

.dashboardheader__progress-name {
  @include center();
  background-color: rgb(252, 246, 239);
  width: 40%;

  h2 {
    font-size: $lg;
    font-weight: 400;
    color: $darkGray;
  }

  button {
    @include button();
    margin-top: 16px;
    font-size: $sm;
  }
}

.dashboardheader__progress-button {
  display: flex;
}

.dashboard {
  padding: 20px 100px;

  p {
    font-size: $sm;
    color: $gray;
  }
}

.dashboard__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson {
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $lightGray;

  .left {
    div {
      @include center();
      width: 50px;
      height: 50px;
      border: 2px solid $lightPink;
      border-radius: 100px;

      p {
        font-size: $lg;
        color: $gray;
      }
    }
  }

  .right {
    flex: 1;
    padding: 10px;

    h2 {
      color: $darkGray;
      font-weight: 400;
    }

    .video-button {
      background-color: $lightPink;
      margin: 10px 0;
      padding: 10px;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;

      a {
        margin-left: 10px;
        color: $gray;
        cursor: pointer;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .dashboardheader {
    padding: 0px 10px;
  }

  .dashboardheader__progress {
    flex-direction: column;
    margin: 10px 0;
  }

  .dashboardheader__progress-detail {
    width: 100%;
  }

  .dashboardheader__progress-name {
    width: 100%;
    padding: 16px 0;
  }

  .dashboard {
    padding: 0px 10px;

    p {
      font-size: $sm;
      color: $gray;
    }
  }

  .lesson {
    .left {
      div {
        width: 40px;
        height: 40px;

        p {
          font-size: $md;
        }
      }
    }
  }
}
