@import "./Variables.scss";

.home {
  //   background-color: red;
  width: 100%;
}

.home__banner {
  position: relative;

  img {
    width: 100%;
  }

  .home__title {
    @include center();
    position: absolute;
    top: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    width: 50%;
    height: 100%;

    h1 {
      font-size: $xxl;
      color: $gray;
    }

    h2 {
      font-size: $md;
      color: $gray;
      font-weight: 400;
      margin-top: 10px;
    }
  }
}

.home__gift {
    @include center();
    // background-color: red;
    padding: 30px 0;
    margin: 30px 0;
}

.home__gift-title {
    font-size: $xl;
    color: $gray;
    font-weight: 400;
    margin-bottom: 30px;
}

.home__gift-card-container {
    // background-color: yellow;
    width: 70%;
    display: flex;
    justify-content: space-between;


    h2 {
        color: $darkGray;
        margin-bottom: 10px;
    }

    .card-item {
        // background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
