@import "./Variables.scss";

@mixin titleBox {
  background-color: $lightPink;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;

  h3 {
    font-weight: 400;
  }
}

.quiz {
  padding: 20px 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: $xl;
    color: $darkGray;
    margin: 20px 0;
  }
}

.quiz__title-box {
  @include titleBox();
}

.quizcard {
  margin: 30px 0;
}

.quizcard__title {
  display: flex;
  align-items: center;

  .number {
    @include center();
    background-color: $darkPink;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 20px;
  }
}

.quizcard__choice {
  padding: 10px 0 20px 60px;
  border-bottom: 1px solid $lightGray;
}

.quiz__result {
  padding: 24px 0;

  h1 {
    font-size: $xxl;
    color: $darkPink;
    text-align: center;
    margin: 6px 0;
  }

  h3 {
    font-size: $sm;
    text-align: center;

    i {
      font-size: $sm;
      font-weight: 400;
    }
  }
}

.quiz__header,
.quiz__header-timer {
  display: flex;
  align-items: center;
}

.quiz__header {
  justify-content: space-between;
}

.quiz__header-timer {
  .reg_icon {
    svg {
      font-size: 22px !important;
    }
  }
  p {
    font-size: 15px;
    color: $gray;
    margin-top: 3px;
  }
}

@media screen and (max-width: 600px) {
  .quiz {
    padding: 0px 20px;
    margin-top: 20px;

    h1 {
      font-size: $lg;
    }
  }

  .quiz__result {
    width: 90%;
  }
}
