@import "./Variables.scss";

.register {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.register__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: $lg;
    color: $darkGray;
    font-weight: 400;
  }

  p {
    font-size: $sm;
    color: $gray;
  }
}

.register__content-step {
  width: 100%;
  margin: 50px 0;
}

.register__content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: $lightBorder;
}

.register__content-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 70px;
    height: 70px;
  }

  h3 {
    font-size: $md;
    color: $darkGray;
    font-weight: 400;
  }

  p {
    margin-bottom: 10px;
  }

  .otp-input {
    margin: 30px 0;

    input:focus {
      outline: none !important;
      border: 1px solid $primaryPink;
      box-shadow: 0 0 2px $primaryPink;
    }
  }
}

.register__content-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#images {
  font-size: 14px;
  color: $darkGray;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  color: #999;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border: $solidBorder;
}

input[type="file"]::file-selector-button:hover {
  color: $primaryPink;
  border-color: $primaryPink;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .register__content {
    width: 90%;

    h2 {
      font-size: $md;
    }
  }
}
