// color
$primaryPink: #fb6f92;
$darkPink: #e75480;
$lightPink: #fdd9e6;
$darkGray: #555;
$gray: #777;
$lightGray: #e1e1e1;
$secondaryPink: #c79274;
$disablePink: #f1d9cb;

// font size
$xxl: 50px;
$xl: 30px;
$lg: 20px;
$md: 16px;
$sm: 12px;

// shadow
$boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$bottomShadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

// border
$solidBorder: 1px solid $lightGray;
$lightBorder: 1px dashed $lightGray;

// template
@mixin button {
  border: none;
  padding: 6px 20px;
  border-radius: 10px;
  color: white;
  background-color: $primaryPink;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
