// color
$primaryPink: #fb6f92;
$darkPink: #e75480;
$lightPink: #fdd9e6;
$darkGray: #555;
$gray: #777;
$lightGray: #e1e1e1;
$secondaryPink: #c79274;


// shadow
$bottomShadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;